.abtmehead {
    height: 150px;
    background: #E8E9EB;
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
}

.abtmehead > .head {
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 30px;
    
}

.abtmehead > .head h1{
    margin-left: 20px;
}

.abtmep {
    margin-top: -20px;
    height: 210px;
    background: #E8E9EB;
    padding-left: 35px;
    padding-right: 35px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    font-size: 1.1em;
}

.abtmep a{
    color: #82C0CC;
}

.research {
    background: #F6AE2D;
    height: 630px;
    display: flex;
    
}

.research > .resp {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.1em;
    padding-right: 40px;
    margin-top: 30px;
    line-height: 26px;
}

.research > .resimg img {
    width: 700px;
    margin-top: 50px;
    margin-right: 40px;
}

:root {
    --red: tomato;
}
  
  img.framed {
    box-shadow:
      -50px -50px 0 -40px var(--red),
      50px 50px 0 -40px var(--red);
}
  
  