.html, body {
    margin: 0;
    height: 100%;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
}

html {
    scroll-behavior: smooth;
}


.body {
    margin: 0px;
}

.head-bar {
    color: white;
    width: 100%;
    height: 150px;
    background-color: #0C7489;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px 10px 30px -10px rgb(0 0 0 / 60%);

}

.teaching {
    display: flex;
    flex-direction: column;
    height: 400px;
    background: #F6AE2D;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    line-height: 32px;
    padding: 20px 20px;
}

.teaching h2{
    margin-top: 40px;
    margin-left: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 400px;
    background: #0C7489;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    box-shadow: inset 0px 10px 30px -10px rgb(0 0 0 / 60%);
    line-height: 80px;
}

.bottom a {
    text-decoration: none;
    color: white;
    word-spacing: 5px;
    transition: 1s;
}

.bottom > .contact {
    word-spacing: 30px;
}

.bottom > .nav {
    word-spacing: 5px;
}

.bottom a:hover {
    color: #f6bd60;
    letter-spacing: 2px;
}